# Chalkslate
# https://github.com/TheTerminalGroup/Chalkslate

[colors.primary]
background = '#COLOUR-BG'
foreground = '#COLOUR-FG'

[colors.normal]
black = '#COLOUR-0'
red = '#COLOUR-1'
green = '#COLOUR-2'
yellow = '#COLOUR-3'
blue = '#COLOUR-4'
magenta = '#COLOUR-5'
cyan = '#COLOUR-6'
white = '#COLOUR-7'

[colors.bright]
black = '#COLOUR-8'
red = '#COLOUR-9'
green = '#COLOUR-10'
yellow = '#COLOUR-11'
blue = '#COLOUR-12'
magenta = '#COLOUR-13'
cyan = '#COLOUR-14'
white = '#COLOUR-15'
